    *{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
body
{
background-color: black;

}

 header{ 
    background-color: blue;

    color: blue;
    width: 100%;
    padding: 20px;
    display: flex;
}

.titulo_site{
   color: #ffffff;
   padding: 50px ;
   display: inline;

}

.cabecalho-itens{
    max-width: 1980px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagens-icons {
    display: inline;
    align-items:flex-end;  
    width: 10%;
    padding-right: 0px 600px;

    
}

.botao
{

    background-color: #0CA2AD; 
    color: rgb(255, 255, 255) ;
    opacity: 75%;
    border: none; 
    padding: 10px 20px; 
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer;
    border-radius: 20px;
    justify-content: space-evenly;
    text-emphasis-color: black ;
    font-family:Arial, Helvetica, sans-serif
}

.botao:hover{
background-color: rgb(22, 147, 181);
}

.banner
{
    max-width: 1980px;
    display: flex;
    justify-content: start  ;
    a
}

.sub_titulo{
    text-align: center ; 
    margin: 10px;
    color: #ffffff;
    padding: 50px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}
.texto-do-meio{
display:inline-flex;
text-align: start;
padding: 20px 100px ;
/* align-items: center; */
width: 900px;
font-size: 25px;
color: #ffffff;
}

.imagem-baixa
{
    display: flex;
    max-width: 1920px;
}