*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;

.body{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: flex-end;
}

.header{ 
    box-decoration-break: clone;
    flex-direction: initial;
background-color: #0502af;
}

.header
{ box-decoration-break: clone;
    flex-direction: initial;
background-color: #0502af;
}

.titulo_site{
    text-align: center;
    color: #ffffff;
    padding: 50px;
}

.cabecalho-itens{
max-width: 2000px;
border-block-end:none;
margin: 0 auto;
align-items: flex-end ;
display: block;
color: #040075;
border-radius: 20px;
background-color: #040075;
}

.imagens_s
{
    display: flex;
    justify-content: flex-end;
    width: 50px;
    padding-right: 30px;
    align-items: center;
}

.botao
{
    background-color: #03CAE4; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer;
    border-radius: 4px;
    justify-content: space-evenly;
    text-emphasis-color: black ;
    font-family:;
}

.botao:hover{
background-color: rgb(22, 147, 181);
}

.banner
{
    display: flex;
    justify-content: center;
}

.box_1{
    background-color: red;
    color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    width: 400px;
    text-align: justify;
    justify-content: flex-end;
}