*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
}

.body{
    font-family: Arial, Helvetica, sans-serif;
}

.header{ 
    background-color: blue;
    color: blue;
    width: 100%;
    padding: 20px;
}

.titulo_site{
    text-align: center;
    color: #ffffff;
    padding: 50px;
}

.cabecalho-itens{
max-width: 2000px;
border-block-end:none;
margin: 0 auto;
align-items: flex-end ;
display: block;
color: #040075;
border-radius: 20px;
background-color: #040075;
}

.imagens_s {
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
    border: 2px solid #000; 
    margin: 0 10px; 
}

.botao
{
    background-color: #03CAE4; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer;
    border-radius: 4px;
    justify-content: space-evenly;
    text-emphasis-color: black ;
    font-family:Arial, Helvetica, sans-serif
}

.botao:hover{
background-color: rgb(22, 147, 181);
}

.banner
{
    display: flex;
    justify-content: center;
}

.box_1{
    background-color: red;
    color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    width: 400px;
    text-align: justify;
    justify-content: flex-end;
}